<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isCreated">Tạo đơn hàng</ion-title>
        <ion-title *ngIf="isUpdated">Sửa đơn hàng</ion-title>
        <ion-title *ngIf="isDetailed">Thông tin đơn hàng</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="5"
                    offsetXl="3.5"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-item-group class="ion-margin">
                    <ion-button [routerLink]="['/users', userId, 'orders', this.orderId, 'orderItems']" color="dark">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                        Quay về {{ (order$ | async)?.orderName }}
                    </ion-button>

                    <ion-button
                            *ngIf="isDetailed && orderItem && !(currentUser$ | async)?.customClaims?.WORKER"
                            color="tertiary"
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', orderItem?.id, 'edit']"
                    >
                        <ion-icon name="settings-outline"></ion-icon>
                        Sửa
                    </ion-button>

                    <ion-button
                            *ngIf="!isCreated && !(currentUser$ | async)?.customClaims?.WORKER "
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', 'create']"
                    >
                        <ion-icon name="add-circle-outline"></ion-icon>
                        Thêm đơn
                    </ion-button>
                </ion-item-group>

                <!--        Reactive Form        -->
                <form
                        [formGroup]="validationForm"
                        *ngIf="orderItem"
                        (keydown.enter)="!submitButton.disabled ? submitHandler(submitButton) : null"
                >
                    <ion-item-divider>
                        <ion-label *ngIf="!isDetailed">Mời điền thông tin cho đơn hàng mới</ion-label>
                    </ion-item-divider>

                    <!-- Order -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="popover"
                                    formControlName="order"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="order">
                                    {{ order?.orderName }}
                                </ion-select-option>
                            </ion-select>

                            <ion-select
                                    interface="popover"
                                    formControlName="order"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="orderItem.order">
                                    {{ orderItem?.order?.orderName }}
                                </ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ orderItem?.order?.orderName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Order Item Name   -->
                    <!--                    <ion-item-group>-->
                    <!--                        <ion-item>-->
                    <!--                            <ion-label>Mã đơn hàng</ion-label>-->
                    <!--                            <ion-input-->
                    <!--                                    slot="end"-->
                    <!--                                    type="text"-->
                    <!--                                    formControlName="orderItemName"-->
                    <!--                                    slot="end"-->
                    <!--                                    *ngIf="!isDetailed"-->
                    <!--                            ></ion-input>-->

                    <!--                            <ion-label *ngIf="isDetailed">{{ orderItem?.orderItemName }}</ion-label>-->
                    <!--                        </ion-item>-->
                    <!--                    </ion-item-group>-->

                    <!--        created Date            -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Ngày Tạo</ion-label>
                            <ion-datetime

                                    formControlName="createdAt"
                                    displayFormat="DD/MM/YY"
                                    [readonly]="isDetailed"
                            >
                            </ion-datetime>

                            <!--                            <ion-label-->
                            <!--                                    *ngIf="isDetailed"-->
                            <!--                            >-->
                            <!--                                {{ orderItem?.createdAt?.toDate() | date:'dd/MM/yy' }}-->
                            <!--                            </ion-label>-->
                        </ion-item>
                    </ion-item-group>

                    <!--    Order Item Comment   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Comment</ion-label>
                            <ion-input
                                    slot="end"
                                    type="text"
                                    formControlName="orderItemComment"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <!--                            <ion-label *ngIf="isDetailed">{{ orderItem?.orderItemComment }}</ion-label>-->
                            <ion-text *ngIf="isDetailed">{{ orderItem?.orderItemComment }}</ion-text>
                        </ion-item>
                    </ion-item-group>

                    <!-- Order Item Kind -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Giao / Nhận</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    *ngIf="!isDetailed"
                                    interface="popover"
                                    formControlName="orderItemKind"
                                    slot="end"
                            >
                                <ion-select-option
                                        *ngFor="let kind of kinds"
                                        [value]="kind"
                                >
                                    {{ kind }}
                                </ion-select-option>
                            </ion-select>

                            <ion-label>
                                <ion-badge
                                        *ngIf="isDetailed"
                                        [color]="orderItem?.orderItemKind === GIAO ? 'success' : 'danger'"
                                >
                                    {{ orderItem?.orderItemKind }}
                                </ion-badge>
                            </ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--        Products and Quantities            -->
                    <ion-button
                            *ngIf="!isDetailed"
                            (click)="addProductAndQuantityFormControl()"
                            size="small"
                            class="ion-margin-top"
                    >
                        <ion-icon name="add-circle-outline"></ion-icon>
                        Thêm sản phẩm và số lượng
                    </ion-button>

                    <section
                            formArrayName="orderItemProducts"
                            *ngFor="let _ of orderItemProducts?.controls; index as i"
                            class="ion-margin-bottom ion-margin-start"
                    >
                        <!--    Products   -->
                        <ion-card>
                            <ion-item *ngIf="!isDetailed">
                                <ion-button
                                        color="danger"
                                        slot="end"
                                        size="small"
                                        (click)="removeProductAndQuantityFormControl(i)"
                                >
                                    <ion-icon name="close-outline"></ion-icon>
                                </ion-button>
                            </ion-item>

                            <ion-item>
                                <ion-label>Sản phẩm</ion-label>
                                <ion-select
                                        *ngIf="!isDetailed"
                                        interface="action-sheet"
                                        [compareWith]="compareWithFn"
                                        [formControl]="orderItemProducts?.controls[i]"
                                        slot="end"
                                        (ionChange)="isSilverHandler(i)"
                                        #productSelectElements
                                >
                                    <ion-select-option
                                            *ngFor="let product of products$ | async"
                                            [value]="product"
                                    >
                                        {{ product?.productName }} {{ product?.productPrice | number:'1.0-2' }} đ
                                    </ion-select-option>
                                </ion-select>

                                <ion-label
                                        *ngIf="isDetailed"
                                >
                                    <ion-badge color="primary">
                                        {{ orderItem?.orderItemProducts[i]?.productName }}
                                    </ion-badge>
                                </ion-label>
                            </ion-item>

                            <!--    Quantities   -->
                            <ion-item>
                                <ion-label>Số lượng (cái)</ion-label>
                                <ion-input
                                        *ngIf="!isDetailed"
                                        type="number"
                                        slot="end"
                                        [formControl]="orderItemQuantities?.controls[i]"
                                        [readonly]="isSilverProduct"
                                ></ion-input>

                                <ion-label *ngIf="isDetailed">
                                    <ion-badge
                                            *ngIf="orderItem?.orderItemQuantities[i] !== 0"
                                            color="tertiary"
                                    >
                                        {{ orderItem?.orderItemQuantities[i] }} cái
                                    </ion-badge>
                                </ion-label>
                            </ion-item>
                        </ion-card>
                    </section>

                    <!--    Order Item Weight   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Tổng cân nặng (chỉ)</ion-label>
                            <ion-input
                                    type="number"
                                    formControlName="orderItemWeight"
                                    slot="end"
                                    *ngIf="!isDetailed"
                                    [readonly]="isCorelProduct"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">
                                <ion-badge color="warning">
                                    {{ orderItem?.orderItemWeight }} chỉ
                                </ion-badge>
                            </ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Submit    -->
                    <ng-container>
                        <ion-button
                                [disabled]="!validationForm.valid"
                                [hidden]="isDetailed"
                                class="ion-margin-top"
                                (click)="submitHandler(submitButton)"
                                type="submit"
                                expand="block"
                                #submitButton
                        >
                            Submit
                        </ion-button>
                    </ng-container>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh">
    </ion-footer>
</ion-content>
