<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ (order$ | async)?.orderName }} của {{ (user$ | async)?.email }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!--  Main Table Content for Desktop  -->
<ion-content
        *ngIf="isDesktop"
>
    <section class="container">
        <ion-button
                [routerLink]="['/users', userId, 'orders']"
                color="dark"
        >
            <ion-icon name="arrow-back-outline"></ion-icon>
            Quay về các tháng
        </ion-button>

        <ion-button
                [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', 'create']"
                *ngIf="((isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER)"
                [disabled]="(order$ | async)?.orderStatus === DONE"
        >
            <ion-icon name="add-circle-outline"></ion-icon>
            Đơn hàng mới
        </ion-button>

        <ion-button
                *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                color="tertiary"
                [disabled]="
                (order$ | async)?.orderStatus === DONE
                || !(orderItemsDesktop$ | async)
                || (orderItemsDesktop$ | async)?.length === 0"
                (click)="prepareReportHandler()"
        >
            <ion-icon name="receipt-outline" class="ion-margin-end"></ion-icon>
            Tổng kết
        </ion-button>

        <ngx-datatable
            #table
            [rows]="orderItemsDesktop$ | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
            style="overflow: hidden"
        >
            <!--    Order Item Name   -->
            <ngx-datatable-column
                    name="Ngày"
                    prop="createdAt"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                    <ion-button
                            color="dark"
                            size="small"
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', row?.id]"
                    >{{ row?.createdAt?.toDate() | date: 'dd/MM/yy' }}
                        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Comment   -->
            <ngx-datatable-column
                    name="Comment"
                    prop="orderItemComment"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-badge
                            *ngIf="row?.orderItemComment !== ''"
                            color="medium"
                    >
                        {{ row?.orderItemComment }}
                    </ion-badge>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Kind   -->
            <ngx-datatable-column
                    name="Giao/ Nhận"
                    prop="orderItemKind"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-badge [color]="row?.orderItemKind === GIAO ? 'success' : 'danger'">
                        {{ row?.orderItemKind }}
                    </ion-badge>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Products   -->
            <ngx-datatable-column
                    name="Sản phẩm"
                    prop="orderItemProducts"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngFor="let product of row?.orderItemProducts; let i = index" class="ion-no-margin">
                        <ion-badge color="primary">
                            {{ product?.productName }}
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Quantities   -->
            <ngx-datatable-column
                    name="Số lượng"
                    prop="orderItemQuantities"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngFor="let quantity of row?.orderItemQuantities; let i = index" class="ion-no-margin">
                        <ion-badge
                                *ngIf="quantity !== 0"
                                color="tertiary"
                        >
                            {{ quantity }} cái
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Weight   -->
            <ngx-datatable-column
                    name="Tổng cân nặng"
                    prop="orderItemWeight"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="ion-no-margin">
                        <ion-badge color="warning">
                            {{ row?.orderItemWeight }} chỉ
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Edit    -->
            <ngx-datatable-column
                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                    name="Sửa"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', row?.id, 'edit']"
                            color="dark"
                    >
                        <ion-icon name="settings-outline" class=""></ion-icon>
                        Sửa
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Delete    -->
            <ngx-datatable-column
                    *ngIf="(isAuth$ | async) && (currentUser$ | async)?.customClaims?.DEV"
                    name="Delete"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            (click)="this.alertService.presentDeleteConfirm(row)"
                            color="danger"
                    >
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ion-col
                *ngIf="table.rowCount === 0"
                size="6"
                offset="5"
        >
            <ion-spinner class="spinner-loading"></ion-spinner>
        </ion-col>

    </section>
</ion-content>
