<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ (order$ | async)?.orderName }} của {{ (user$ | async)?.email }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!--  Main Table Content for Desktop  -->
<ion-content
        *ngIf="this.platformService.isDesktop || this.platformService.isTablet"
>
    <section class="container">
        <ion-item-group>
            <ion-button
                    [routerLink]="['/users', userId, 'orders']"
                    color="dark"
            >
                <ion-icon name="arrow-back-outline"></ion-icon>
                Quay về các tháng
            </ion-button>

            <ion-button
                    [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', 'create']"
                    *ngIf="((isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER)"
                    [disabled]="(order$ | async)?.orderStatus === DONE"
            >
                <ion-icon name="add-circle-outline"></ion-icon>
                Đơn hàng mới
            </ion-button>

            <ion-button
                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                    color="tertiary"
                    [disabled]="
                (order$ | async)?.orderStatus === DONE
                || !(orderItemsDesktop$ | async)
                || (orderItemsDesktop$ | async)?.length === 0"
                    (click)="prepareReportHandler()"
            >
                <ion-icon name="receipt-outline" class="ion-margin-end"></ion-icon>
                Tổng kết
            </ion-button>
        </ion-item-group>

        <ngx-datatable
            #table
            [rows]="orderItemsDesktop$ | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
            style="overflow: hidden"
        >
            <!--    Order Item Name   -->
            <ngx-datatable-column
                    name="Ngày"
                    prop="createdAt"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                    <ion-button
                            color="dark"
                            size="small"
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', row?.id]"
                    >{{ row?.createdAt?.toDate() | date: 'dd/MM/yy' }}
                        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Comment   -->
            <ngx-datatable-column
                    name="Comment"
                    prop="orderItemComment"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-badge
                            *ngIf="row?.orderItemComment !== ''"
                            color="medium"
                    >
                        {{ row?.orderItemComment }}
                    </ion-badge>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Kind   -->
            <ngx-datatable-column
                    name="Giao/ Nhận"
                    prop="orderItemKind"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-badge [color]="row?.orderItemKind === GIAO ? 'success' : 'danger'">
                        {{ row?.orderItemKind }}
                    </ion-badge>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Products   -->
            <ngx-datatable-column
                    name="Sản phẩm"
                    prop="orderItemProducts"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngFor="let product of row?.orderItemProducts; let i = index" class="ion-no-margin">
                        <ion-badge color="primary">
                            {{ product?.productName }}
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Quantities   -->
            <ngx-datatable-column
                    name="Số lượng"
                    prop="orderItemQuantities"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p *ngFor="let quantity of row?.orderItemQuantities; let i = index" class="ion-no-margin">
                        <ion-badge
                                *ngIf="quantity !== 0"
                                color="tertiary"
                        >
                            {{ quantity }} cái
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Weight   -->
            <ngx-datatable-column
                    name="Tổng cân nặng"
                    prop="orderItemWeight"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p class="ion-no-margin">
                        <ion-badge color="warning">
                            {{ row?.orderItemWeight }} chỉ
                        </ion-badge>
                    </p>
                </ng-template>
            </ngx-datatable-column>

            <!--    Edit    -->
            <ngx-datatable-column
                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                    name="Sửa"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', row?.id, 'edit']"
                            color="dark"
                    >
                        <ion-icon name="settings-outline" class=""></ion-icon>
                        Sửa
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Delete    -->
            <ngx-datatable-column
                    *ngIf="(isAuth$ | async) && (currentUser$ | async)?.customClaims?.DEV"
                    name="Delete"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            (click)="this.alertService.presentDeleteConfirm(row)"
                            color="danger"
                    >
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ion-col
                *ngIf="table.rowCount === 0"
                size="6"
                offset="5"
        >
            <ion-spinner class="spinner-loading"></ion-spinner>
        </ion-col>

    </section>
</ion-content>


<!-- Cards Mobile -->
<ion-content
        *ngIf="this.platformService.isMobile && (orderItemsMobile$ | async)"
>
    <ion-item-group>
        <ion-button
                [routerLink]="['/users', userId, 'orders']"
                color="dark"
        >
            <ion-icon name="arrow-back-outline"></ion-icon>
            Quay về các tháng
        </ion-button>

        <ion-button
                [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', 'create']"
                *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                [disabled]="(order$ | async)?.orderStatus === DONE"
        >
            <ion-icon name="add-circle-outline"></ion-icon>
            Đơn hàng mới
        </ion-button>

        <ion-button
                *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                color="tertiary"
                [disabled]="
                (order$ | async)?.orderStatus === DONE
                || !(orderItemsMobile$ | async)
                || (orderItemsMobile$ | async)?.length === 0"
                (click)="prepareReportHandler()"
        >
            <ion-icon name="receipt-outline" class="ion-margin-end"></ion-icon>
            Tổng kết
        </ion-button>
    </ion-item-group>

    <ion-grid fixed>
        <ion-row
        >
            <ion-col
                    sizeMd="4"
                    sizeSm="6"
                    sizeXs="12"
                    *ngFor="let orderItem of orderItemsMobile$ | async"
            >
                <ion-card
                        class="ion-no-margin ion-no-padding"
                >
                    <section>
                        <ion-card-header class="ion-no-padding ion-no-margin">
                            <ion-card-title class="ion-text-center">
                                <ion-button
                                        size="small"
                                        color="dark"
                                        [routerLink]="['/users', userId, 'orders', orderItem?.id]"
                                        class="ion-text-wrap"
                                >
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    {{ orderItem?.createdAt?.toDate() | date:'dd/MM/yy' }}
                                </ion-button>
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-item-group>
                                <ion-item>
                                    <ion-label>Giao/ Nhận:</ion-label>
                                    <ion-badge
                                            [color]="orderItem?.orderItemKind === GIAO ? 'success' : 'danger'"
                                            slot="end"
                                    >
                                        {{ orderItem?.orderItemKind }}
                                    </ion-badge>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Comment:</ion-label>
                                    <ion-badge
                                            *ngIf="orderItem?.orderItemComment !== ''"
                                            slot="end"
                                            color="medium"
                                    >
                                        {{ orderItem?.orderItemComment }}
                                    </ion-badge>
                                </ion-item>

                                <ng-container
                                        *ngFor="let product of orderItem?.orderItemProducts; index as i"
                                >
                                    <ion-item
                                            class="ion-margin-start ion-margin-end"
                                    >
                                        <ion-label>Sản phẩm {{ i + 1 }}:</ion-label>
                                        <ion-badge
                                                slot="end"
                                                color="primary"
                                        >
                                            {{ orderItem?.orderItemProducts[i]?.productName }}
                                        </ion-badge>
                                    </ion-item>

                                    <ion-item
                                            class="ion-margin-start ion-margin-end"
                                    >
                                        <ion-label>Số lượng:</ion-label>
                                        <ion-button
                                                *ngIf="orderItem?.orderItemQuantities[i] !== 0"
                                                slot="end"
                                                color="tertiary"
                                        >
                                            {{ orderItem?.orderItemQuantities[i] }} cái
                                        </ion-button>
                                    </ion-item>
                                </ng-container>

                                <ion-item>
                                    <ion-label>Tổng cân nặng:</ion-label>
                                    <ion-badge
                                            slot="end"
                                            color="warning"
                                    >
                                        {{ orderItem?.orderItemWeight }} chỉ
                                    </ion-badge>
                                </ion-item>
                            </ion-item-group>

                            <ion-item-group
                                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                            >
                                <ion-item>
                                    <ion-button
                                            *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                                            [routerLink]="['/users', userId, 'orders', orderId, 'orderItems', orderItem?.id, 'edit']"
                                            color="primary"
                                    >
                                        <ion-icon name="settings-outline"
                                                  class="ion-margin-end"></ion-icon>
                                        Sửa
                                    </ion-button>

                                    <ion-button
                                            *ngIf="(currentUser$ | async)?.customClaims?.DEV"
                                            (click)="this.alertService.presentDeleteConfirm(orderItem)"
                                            color="danger"
                                            slot="end"
                                    >
                                        <ion-icon name="trash-bin-outline"
                                                  class="ion-margin-end"></ion-icon>
                                        Xóa
                                    </ion-button>
                                </ion-item>
                            </ion-item-group>
                        </ion-card-content>
                    </section>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
    <!--        <ion-infinite-scroll-content-->
    <!--                loadingSpinner="bubbles"-->
    <!--                loadingText="Loading more data...">-->
    <!--        </ion-infinite-scroll-content>-->
    <!--    </ion-infinite-scroll>-->

    <ion-footer style="height: 10vh" #footer>
    </ion-footer>
</ion-content>

<!-- Skeleton screen -->
<ion-content *ngIf="this.platformService.isMobile && !(orderItemsMobile$ | async)">
    <ion-card *ngFor="let skeleton of skeletons">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
