<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Danh sách thợ</ion-title>
    </ion-toolbar>
</ion-header>

<!--  Main Table Content for Desktop  -->
<ion-content *ngIf="platformService.isDesktop || platformService.isTablet">
    <section class="container">
        <ion-item-group class="ion-margin">
            <ion-button
                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                    routerLink="/users/create"
            >
                <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
                Nhân viên mới
            </ion-button>
        </ion-item-group>

        <ngx-datatable
            #table
            [rows]="users$ | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
        >
            <!--    User Email    -->
            <ngx-datatable-column name="Email" prop="email">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <!--                    <ion-button-->
                    <!--                            size="small"-->
                    <!--                            color="dark"-->
                    <!--                            [routerLink]="['/users', row?.uid]"-->
                    <!--                    >-->
                    <!--                        {{ row?.email }}-->
                    <!--                    </ion-button>-->
                    <ion-button
                            size="small"
                            color="dark"
                            [routerLink]="['/users', row?.uid, 'orders']"
                    >
                        {{ row?.email }}
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    User Name    -->
            <ngx-datatable-column name="User Name" prop="displayName">
            </ngx-datatable-column>

            <!--    Role   -->
            <ngx-datatable-column name="Role" prop="customClaims">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{ this.claimService.claimBooleanToEnum(row) }}</span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Orders   -->
            <ngx-datatable-column
                    name="Các đơn hàng"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            *ngIf="row?.customClaims?.WORKER"
                            size="small"
                            color="dark"
                            [routerLink]="['/users', row?.uid, 'orders']"
                    >
                        Đơn hàng
                        <ion-icon name="receipt-outline" class="ion-margin-end"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Edit Button   -->
            <ngx-datatable-column
                    name="Edit"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            color="tertiary"
                            [routerLink]="['/users', row?.uid, 'edit']"
                            [disabled]="row?.customClaims?.DEV === true && (currentUser$ | async)?.customClaims?.DEV === undefined"
                    >
                        Edit
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Delete Button    -->
            <ngx-datatable-column
                    *ngIf="(isAuth$ | async) && (currentUser$ | async)?.customClaims?.DEV"
                    name="Delete"
                    [sortable]="false"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            (click)="alertService.presentDeleteConfirm(row)"
                            color="danger"
                    >
                        <ion-icon name="trash-bin-outline"></ion-icon>
                        Delete
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ion-col
                *ngIf="table.rowCount === 0"
                size="6"
                offset="5"
        >
            <ion-spinner class="spinner-loading"></ion-spinner>
        </ion-col>
    </section>
</ion-content>

<!-- Cards Mobile -->
<ion-content
        *ngIf="this.platformService.isMobile && (users$ | async)"
>
    <ion-item-group class="ion-margin">
        <ion-button
                *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                routerLink="/users/create"
                size="small"
        >
            <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
            Nhân viên mới
        </ion-button>
    </ion-item-group>

    <!--      Cards as Products      -->
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeMd="4"
                    sizeSm="6"
                    sizeXs="12"
                    *ngFor="let user of users$ | async"
            >
                <ion-card
                        class="ion-no-margin ion-no-padding"
                >
                    <section>
                        <ion-card-header class="ion-no-padding ion-no-margin">
                            <ion-card-title class="ion-text-center">
                                <ion-button
                                        size="small"
                                        color="dark"
                                        [routerLink]="['/users', user?.uid, 'orders']"
                                        class="ion-text-wrap"
                                >
                                    <ion-icon name="person-outline" class="ion-margin-end"></ion-icon>
                                    {{ user?.displayName }}
                                </ion-button>
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-item-group>
                                <!--                User Name                -->
                                <ion-item>
                                    <ion-label>Tên:</ion-label>
                                    <ion-badge
                                            *ngIf="user?.displayName !== ''"
                                            slot="end"
                                            color="primary"
                                    >
                                        {{ user?.displayName }}
                                    </ion-badge>
                                </ion-item>

                                <!--                Email                -->
                                <ion-item>
                                    <ion-label>Email:</ion-label>
                                    <ion-badge
                                            slot="end"
                                            color="secondary"
                                    >
                                        {{ user?.email }}
                                    </ion-badge>
                                </ion-item>

                                <!--                Role                -->
                                <ion-item>
                                    <ion-label>Chức vụ:</ion-label>
                                    <ion-badge
                                            slot="end"
                                            color="medium"
                                    >
                                        {{ this.claimService.claimBooleanToEnum(user) }}
                                    </ion-badge>
                                </ion-item>

                                <!--                Order                -->
                                <ion-item>
                                    <ion-label>Các đơn hàng:</ion-label>
                                    <ion-button
                                            *ngIf="user?.customClaims?.WORKER"
                                            slot="end"
                                            color="warning"
                                            [routerLink]="['/users', user?.uid, 'orders']"
                                    >
                                        Đơn hàng
                                        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
                                    </ion-button>
                                </ion-item>
                            </ion-item-group>

                            <ion-item-group
                                    *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                            >
                                <ion-item>
                                    <ion-button
                                            *ngIf="(isAuth$ | async) && !(currentUser$ | async)?.customClaims?.WORKER"
                                            [routerLink]="['/users', user.uid, 'edit']"
                                            color="primary"
                                    >
                                        <ion-icon name="settings-outline"
                                                  class="ion-margin-end"></ion-icon>
                                        Sửa
                                    </ion-button>

                                    <ion-button
                                            *ngIf="(currentUser$ | async)?.customClaims?.DEV"
                                            (click)="this.alertService.presentDeleteConfirm(user)"
                                            color="danger"
                                            slot="end"
                                    >
                                        <ion-icon name="trash-bin-outline"
                                                  class="ion-margin-end"></ion-icon>
                                        Xóa
                                    </ion-button>
                                </ion-item>
                            </ion-item-group>
                        </ion-card-content>
                    </section>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
    <!--        <ion-infinite-scroll-content-->
    <!--                loadingSpinner="bubbles"-->
    <!--                loadingText="Loading more data...">-->
    <!--        </ion-infinite-scroll-content>-->
    <!--    </ion-infinite-scroll>-->

    <ion-footer style="height: 10vh" #footer>
    </ion-footer>
</ion-content>

<!-- Skeleton screen -->
<ion-content *ngIf="this.platformService.isMobile && !(users$ | async)">
    <ion-card *ngFor="let skeleton of skeletons">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
